* {
  margin: 0; padding: 0;
}

html, body {
  height: 100%;
}

#clock {
  text-align: center;
  position: relative;
  top: 50%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 56px;
  margin-top: -28px;
  color: white;
  text-shadow: 3px 4px 4px #000;
}

#current-date {
  display: block;
  width: 170px;
  margin: auto;
  background-color: white;
  text-align: center;
  position: relative;
  top: 54%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  margin-top: -28px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}
